In [1]:
import numpy as np 
import pandas as pd

In [2]:
col_names=['px','py', 'pz']
df = pd.read_excel('data_isotropic_gel.xlsx', names=col_names, header= None)

df

           px        py        pz
0    0.198095 -0.530428  0.824260
1    0.852378  0.522635  0.017455
2    0.476830 -0.703488  0.527008
3    0.318088  0.447530  0.835785
4    0.536964  0.441812  0.718660
..        ...       ...       ...
795  0.045705 -0.386566  0.921129
796 -0.564581 -0.072239 -0.822211
797  0.415385 -0.643797 -0.642636
798 -0.589152  0.680198  0.436154
799 -0.368841  0.808519  0.458533

[800 rows x 3 columns]

In [3]:
df['px2'] = df['px']**2
df['py2'] = df['py']**2
df['pz2'] = df['pz']**2
df['pxpy'] = df['px']*df['py']
df['pxpz'] = df['px']*df['pz']
df['pypz'] = df['py']*df['pz']
df

,px,py,pz,px2,py2,pz2,pxpy,pxpz,pypz
0,0.198095,-0.530428,0.824260,0.039242,0.281354,0.679405,-0.105075,0.163282,-0.437211
1,0.852378,0.522635,0.017455,0.726548,0.273147,0.000305,0.445483,0.014879,0.009123
2,0.476830,-0.703488,0.527008,0.227367,0.494895,0.277737,-0.335444,0.251293,-0.370744
3,0.318088,0.447530,0.835785,0.101180,0.200283,0.698537,0.142354,0.265853,0.374039
4,0.536964,0.441812,0.718660,0.288330,0.195198,0.516472,0.237237,0.385895,0.317513
...,...,...,...,...,...,...,...,...,...
795,0.045705,-0.386566,0.921129,0.002089,0.149433,0.848479,-0.017668,0.042101,-0.356077
796,-0.564581,-0.072239,-0.822211,0.318752,0.005219,0.676031,0.040785,0.464205,0.059396
797,0.415385,-0.643797,-0.642636,0.172545,0.414475,0.412981,-0.267424,-0.266941,0.413727
798,-0.589152,0.680198,0.436154,0.347100,0.462669,0.190230,-0.400740,-0.256961,0.296671
799,-0.368841,0.808519,0.458533,0.136044,0.653703,0.210253,-0.298215,-0.169126,0.370733

In [4]:
S_vector = np.zeros((3,3))

S_vector[0,0] = df['px2'].mean()
S_vector[1,1] = df['py2'].mean()
S_vector[2,2] = df['pz2'].mean()
S_vector[0,1] = df['pxpy'].mean()
S_vector[1,0] = S_vector[0,1]
S_vector[0,2] = df['pxpz'].mean()
S_vector[2,0] = S_vector[0,2]
S_vector[1,2] = df['pypz'].mean()
S_vector[2,1] = S_vector[1,2]
S_vector = 1.5*S_vector -0.5 *np.eye (3)

S_vector

array([[-0.01382112, -0.00615553, -0.02594717],
       [-0.00615553, -0.01531091,  0.02980396],
       [-0.02594717,  0.02980396,  0.02913211]])

In [5]:
eigenvalues, eigenvectors = np.linalg.eig(S_vector)

# Find index of largest eigenvalue
max_index = np.argmax(eigenvalues)

# Scalar order parameter
S = eigenvalues[max_index]

# Director vector (unit vector)
n = eigenvectors[:, max_index]

print("Scalar order parameter S =", S)
print("Director vector n =", n)

Scalar order parameter S = 0.0540725062599412
Director vector n = [-0.35898619  0.39508     0.8456008 ]